## mako
<%!
  from django.core.urlresolvers import reverse
  from django.utils.translation import ugettext as _
%>
<%namespace name='static' file='/static_content.html'/>

<%inherit file="/main.html" />

<%block name="title"><title>${_('About')}</title></%block>

<%block name="js_extra">
  <script type="text/javascript">
    $(function() {
      $('section.message').hide();
      $('#about-menu a').removeClass('active');
      window.scrollTo(0,0);
      var hash = window.location.hash

      if (hash) {
        $('section' + hash).show();
        $('#about-menu a.' + hash.substring(1)).addClass('active');
      } else {
        $('section#about').show();
        $('#about-menu a.about').addClass('active');
      }

      $('#about-menu a').click(function(event) {
        event.preventDefault();
        $('#about-menu a').removeClass('active');
        $(this).addClass('active');
        var clickId = "section" + $(this).attr('href');
        $('section.message').hide();
        $(clickId).show();
      });
    });
  </script>
</%block>

<section class="container about" style="width: auto;">
  <nav id="about-menu">
    <a href="#about" class="about active">${_('About')}</a>
    <a href="#careers" class="careers">${_('Careers')}</a>
    <a href="#contact" class="contact">${_('Contact')}</a>
  </nav>

  <section class="vision">

## About Section ##
    <section class="message left" id="about">
      <div class="photo">
        <!--
            Photo License: CC0 Public Domain (Free for commercial use / No attribution required)
            https://pixabay.com/en/book-books-circle-curly-education-2869/
        -->
        <img src="${static.url('themes/stanford1/images/about.jpg')}" alt="" />
      </div>
      <article>
        <h2>${_('About')}</h2>

        <p></p><p><strong>Who We Are:</strong> Ashoka University is a private, nonprofit university, and an unprecedented example of collective public philanthropy in India. Ashoka offers its students a multidisciplinary liberal education, usually defined as one that transcends the boundaries between the arts and sciences, and carries a strong emphasis on learning across subjects. Such an education provides depth and breadth of learning, both by exposing students to diverse disciplines and by emphasising scholarship and research.</p>
        <p><strong>Our Faculty and Students:</strong> The University’s focus is on attracting the brightest students, putting them under the guidance of the most inspirational faculty, and developing a global reputation for innovative research. Faculty and students come from across the country, and the world, and Ashoka is committed to maintaining the highest intellectual and academic standards.</p>
        <p><strong>Our Programmes:</strong> Ashoka University offers undergraduate and postgraduate programmes across the humanities, social sciences and fundamental natural sciences. The aim is to help students become well-rounded individuals who are able to think critically about issues from multiple perspectives, communicate effectively and go on to become ethical self-aware leaders with a commitment to public service.</p>
        <p><strong>Our Partners:</strong> The University is helped in its endeavours by some of the top-rated institutions in the world. Our academic partners include University of Pennsylvania’s School of Engineering and Applied Sciences; University of California, Berkeley; University of Michigan; Sciences Po, Paris; Carleton College; King’s College, London, Trinity College, Dublin and Yale University . These partnerships extend to the development of faculty exchanges, summer abroad programmes for students and research projects.</p>
        <p><strong>How We Help</strong>: At Ashoka, care is taken to ensure that affordability does not become a deterrent for meritorious students. The University offers support to those who meet its demanding academic standards – over two-thirds of the current students are pursuing their education supported by scholarships and other forms of financial aid.</p>
        <p><strong>Our Alumni:</strong> Ashoka’s unique post-graduate Young India Fellowship (YIF), now in its fifth year, has rapidly become one of the most sought-after programmes in India. YIF alumni are making their mark in some of the top organisations across the public, private and social sectors. They can be found at leading firms such as BCG, The Gates Foundation, McKinsey and Co., Microsoft, TIME Magazine, and the World Bank. In India, acclaimed organisations like Genpact, Avendus Capital, Cipla, Goonj, STAR TV and Teach for India count Ashoka alumni among their ranks. Many have gone on to premier global research universities like Cambridge, Harvard, Oxford, Princeton, Stanford and Yale and been awarded well-known international scholarships such as the Chevening, Commonwealth, Fulbright and Rhodes scholarships.</p>
        <p><em>(Ashoka is located on a 25-acre campus in Rajiv Gandhi Education City in the NCR near New Delhi, India.)</em></p>
        <p>&nbsp;</p>
      </article>
      <hr class="fade-right-hr-divider">
    </section>

## Careers Section ##
    <section class="message left" id="careers">
      <div class="photo">
        <!--
            Photo License: CC0 Public Domain (Free for commercial use / No attribution required)
            https://pixabay.com/en/man-corporate-businessman-suit-tie-871960/
        -->
        <img src="${static.url('themes/stanford1/images/careers.jpg')}" alt="" />
      </div>
      <article>
        <h2>${_('Careers')}</h2>
        
        <p>Your job postings go here!</p>

        <p>&nbsp;</p>
      </article>
      <hr class="fade-right-hr-divider">
    </section>

## Contact Section ##
    <section class="message left" id="contact">
      <div class="photo">
        <!--
            Photo License: CC0 Public Domain (Free for commercial use / No attribution required)
            https://pixabay.com/en/network-cobweb-dewdrop-586177/
        -->
        <img src="${static.url('themes/stanford1/images/contact.jpg')}" alt="" />
      </div>
      <article id="stanford-OpenEdX-contact">
        <h2>${_('Contact Us')}</h2>

        <p>Your contact information goes here!</p>

        <p>&nbsp;</p>
      </article>
      <hr class="fade-right-hr-divider">
    </section>
  </section>

</section>
