## mako
<%! from django.core.urlresolvers import reverse %>
<%namespace name='static' file='/static_content.html'/>
<%inherit file="/navigation.html"/>

## TODO: this will eventually be moved to the Sass
<%block name="navigation_logo">
  <img src="${static.url('themes/stanford1/images/Ashokalogo.png')}" height="50" alt="Home Page" />
</%block>
    <div class="outer-wrapper">
      <div class="title">
        <div class="heading-group">
              <h1>Welcome to Open edX!</h1>
              <p>It works! This is the default homepage for this Open edX instance.</p>
        </div>

      </div>

    </div>
